version: "3.9"

services:
  backend:
    build: .
    container_name: event-ticket-backend
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/event_ticket_db?allowPublicKeyRetrieval=true&useSSL=false
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
    restart: always

  mysql:
    image: mysql:8.0
    container_name: event-ticket-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: event_ticket_db
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always

  redis:
    image: redis/redis-stack:latest
    container_name: event-ticket-redis
    ports:
      - "6379:6379"
      - "8001:8001"
    restart: always

volumes:
  mysql_data: